.requests-grid {
    justify-content: center;
    grid-row: content-s/content-e;

    display: grid;
    grid-template-rows: [button-s] 4.7rem [button-e s box-s] 1fr [box-e e];
    grid-template-columns: [box-s] 16rem [box-e request-s] 960px [request-e];

    grid-column-gap: 6.1rem;

    &__button {
        grid-row: button-s/button-e;
        grid-column: request-s/request-e;
        justify-self: end;
        align-self: center;
        margin-right: 1rem;
    }
}